  <h3><a href="www.devbootcamp.com">D</a></h3>
  <h3> Slacker News </h3>
  
  <ul class="header-nav">
    <li><a href="/new">new</a></li>
    <li><a href="/comments">comments</a></li>
    <li><a href="/ask">Ask</a></li>
    <li><a href="/submit">submit</a></li>
  </ul>
