<p>You have to be logged in to submit.</p>

<p> Login </p>

<form action="/login" method="post">
  username: <input type="text" name="name" placeholder="Welcome back">
  password: <input type="password" name="password" placeholder="Password, please">
  <input type="submit" value="login">
</form>

<form action="/register" method="post">
  username: <input type="text" name="name" placeholder="Put your name on it.">
  password: <input type="password" name="password" placeholder="Password, please">
  email: <input type="text" name="email" placeholder="English, motherfucker">
  confirm password: <input type="password_confirmation" name="password_confirmation" placeholder="Please confirm...or else">
  <input type="submit" value="register">
</form>

