<h1>Submit</h1>

<form action="/submit" method="post">
  Title: <input type="text" name="title">
  Url: <input type="text" name="url">
  OR
  Text: <textarea cols="20" rows="40" name="comment">
        </textarea>
  <input type="submit" value="submit">
</form>
